body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
}

.bg-primary {
  background-color: #a593c2 !important;
}


.card-footer {
  background: transparent;
  border-top: 0px;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 40rem;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.welcome-carousel-image1 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url("../images/Vegan_food.jpg");
}

.welcome-carousel-image2 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url("../images/vegan-spicy-burger-1920x850.jpg");
}

.welcome-carousel-image3 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url("../images/Vanilla-Cake-10.jpg");
}

.shopping-cart-offcanvas {
  width: 500px;
}

.jumbotron-desserts{
  background: url("../images/IMG_15773 (2).jpg") no-repeat fixed;
}

.jumbotron-starters{
  background: url("../images/starters (2).jpg") no-repeat fixed;
}

.jumbotron-all {
  background: url("../images/all-vegan.jpg") no-repeat fixed;
}


.jumbotron-other {
  background: url("../images/vegan-food-restaurants-philadelphia-bar-bombon (2).jpg") no-repeat fixed;
}

.jumbotron-detail-apple-meal {
  background: url("../images/vegan-food-spread-Casinosa-Photo-Getty-Images.jpg") no-repeat fixed;
}

.jumbotron {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
  height: 40vh;
  background-size: cover;
}
