<!DOCTYPE html>

<html>

<head th:replace="fragments/common::head"></head>

<body>
<header th:replace="fragments/common::header"></header>
    <main role="main">

        <div class="container-fluid jumbotron jumbotron-other py-5">
            <div class="container">
                <h1 class="display-3 d-none d-md-block text-white">Send us an email, we'd love to hear from you.</h1>
            </div>
        </div>

        <div class="container">

            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" class="my-3 ms-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>

            <form th:method="post" th:action="@{/contacts}">
                <div class="text-center">
                    <h3>Contact us</h3>
                    <h4 class="text-muted">We would love to hear from you!</h4>
                </div>

                <div class="row mt-3" th:object="${feedbackBindingModel}">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input th:field="*{name}" th:errorclass="bg-danger" type="text" step="0.1"  placeholder="Your Name *" required class="form-control" id="name" name="name"/>
                            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Invalid name format</small>
                        </div>
                        <div class="form-group">
                            <input th:field="*{email}" th:errorclass="bg-danger" type="email" placeholder="Your Email *" class="form-control"  required id="email" name="email"/>
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Invalid email</small>
                        </div>
                        <div class="form-group">
                            <input th:field="*{phoneNumber}" th:errorclass="bg-danger" type="number" placeholder="Your Phone Number *" required class="form-control" id="phoneNumber" name="phoneNumber"/>
                            <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger">Invalid phone number format</small>
                        </div>
                        <div class="mb-2">
                            <button type="submit" class="btn btn-primary" id="sendMessage" >Send Message</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea th:field="*{message}" th:errorclass="bg-danger" type="text" class="form-control" placeholder="Your Message *" id="message" requiredname="message"></textarea>
                            <small th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="text-danger">Description error message</small>
                        </div>
                    </div>
                </div>
            </form>

        </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>