<!DOCTYPE html>

<html>
<head th:replace="fragments/common::head">
</head>

<body>
<header th:replace="fragments/common::header">
</header>
    <main role="main">
      <div class="container-fluid jumbotron jumbotron-other py-5">
        <div class="container">
          <h1 class="display-3 fw-bold text-white">All done!</h1>
        </div>
      </div>

      <div class="container">
        <nav class="my-3 ms-3" style="--bs-breadcrumb-divider: '>'">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Order placed
            </li>
          </ol>
        </nav>

        <div class="row gx-5">
          <div class="col-md-8">
            <h2>
              We are getting started on your order.
              <span class="text-muted"
                >Within an hour your food will arrive!</span
              >
            </h2>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Maecenas eu velit sollicitudin, finibus quam a, fermentum ligula.
              Donec accumsan vestibulum velit, quis molestie tellus eleifend sed.
              Vestibulum ac iaculis odio.
              Nam nunc felis, condimentum vel tellus sit amet, mattis vulputate tellus.
            </p>
          </div>
          <div class="col-md-4">
            <img
              th:src="@{images/vegan-cake.jpg}"
              class="img-fluid"
              alt="Responsive image"
            />
          </div>
        </div>
      </div>
    </main>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
  </body>
</html>
