<!DOCTYPE html>

<html>
<head th:replace="fragments/common::head"></head>

<body>
<header th:replace="fragments/common::header"></header>
<main role="main">
    <div class="container-fluid jumbotron jumbotron-other py-5">
        <div class="container">
            <h1 class="display-3 d-none d-md-block text-white">
                Place your order now.
            </h1>
        </div>
    </div>

    <div class="container">
        <nav class="my-3 ms-3" style="--bs-breadcrumb-divider: '>'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
        </nav>
        <div class="p-2 text-center">
            <h1 class="display-4">Your order</h1>
        </div>


        <div class="row">
            <table class="table  table-bordered table-hover" style="background-color: white">
                <thead>
                <tr>
                    <th>Meal name</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="m : ${order}" th:object="${m}">
                    <td class="col-sm-8 ">
                        <div class="media">
                            <img class="mr-3 thumbnail img-fluid" width="75"
                                 th:src="${m.getPhoto()}" alt="pumpkin pie">
                            <div class="media-body">
                                <h5 class="mt-0 media-heading text-primary" th:text="${m.getName()}">Pumpkin pie</h5>
                                <span>Status: </span><span class="text-success"><strong>In
										Stock</strong></span>
                            </div>
                        </div>
                    </td>
                    <td class="col" style="text-align: center">
                        <input type="number" class="form-control" value="1">
                    </td>
                    <td class="col text-center" th:text="${m.getPrice()}  + ' BGN' "><strong>$14.95</strong></td>

                    <td class="col">
                        <button type="button" class="btn btn-danger">
                            <a class="ml-3 text-danger " th:href="@{/remove-meal/{id}(id= ${m.getId()})}">Remove</a>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan="3" class="text-right">
                        <h5>Subtotal</h5>
                    </td>
                    <td class="text-center">
                        <h5 th:text="${totalPrice}  + ' BGN' "><strong>$44.85</strong></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right">
                        <h5>Shipping</h5>
                    </td>
                    <td class="text-center">
                        <h5><strong>10.00 BGN</strong></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right">
                        <h3>Total</h3>
                    </td>
                    <td class="text-center">
                        <h3 th:text="${totalPriceWithShipping}  + ' BGN' "><strong>$54.85</strong></h3>
                    </td>
                    <td></td>

                </tr>
                </tbody>

            </table>
        </div>

        <hr class="my-4"/>

        <div class="p-2 text-center">
            <h1 class="display-4">Your details</h1>
        </div>


        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Your address</h4>
            <form
                    class="needs-validation"
                    action="done.html"
                    method="get"
                    novalidate
            >
                <div class="row g-3" th:object="${user}">
                    <div class="col-12">
                        <p class="mb-0 font-weight-bold text-monospace text-nowrap"
                           th:text="'First name : ' + ${user.getFullName()}"></p>
                    </div>

                    <div class="col-12">
                        <p class="mb-0 font-weight-bold text-monospace text-nowrap"
                           th:text="'Username : ' + ${user.getUsername()}"></p>
                    </div>

                    <div class="col-12">
                        <p class="mb-0 font-weight-bold text-monospace text-nowrap"
                           th:text="'Email : ' + ${user.getEmail()}"></p>
                    </div>

                    <div th:object="${address}">
                        <div class="col-12">
                            <p class="mb-0 font-weight-bold text-monospace text-nowrap"
                               th:text="'Address : ' + ${address.getAddress()}"></p>
                        </div>

                        <div class="col-12">
                            <p class="mb-0 font-weight-bold text-monospace text-nowrap"
                               th:text="'Area city : ' + ${address.getAreaCity().name()}"></p>
                        </div>

                        <div class="col-12">
                            <p class="mb-0 font-weight-bold text-monospace text-nowrap"
                               th:text="'Town : ' + ${address.getTown()}"></p>
                        </div>

                    </div>
                </div>

                <hr class="my-4"/>

                <div class="form-check">
                    <input
                            type="checkbox"
                            class="form-check-input"
                            id="same-address"
                    />
                    <label class="form-check-label" for="same-address"
                    >Shipping address is the same as my billing address</label
                    >
                </div>

                <div class="form-check">
                    <input
                            type="checkbox"
                            class="form-check-input"
                            id="save-info"
                    />
                    <label class="form-check-label" for="save-info"
                    >Save this information for next time</label
                    >
                </div>

                <hr class="my-4"/>

                <h4 class="mb-3">Payment</h4>

                <div class="my-3">
                    <div class="form-check">
                        <input
                                id="credit"
                                name="paymentMethod"
                                type="radio"
                                class="form-check-input"
                                checked
                                required
                        />
                        <label class="form-check-label" for="credit"
                        >Credit card</label
                        >
                    </div>
                    <div class="form-check">
                        <input
                                id="debit"
                                name="paymentMethod"
                                type="radio"
                                class="form-check-input"
                                required
                        />
                        <label class="form-check-label" for="debit">Debit card</label>
                    </div>
                </div>

                <div class="row gy-3">
                    <div class="form-floating col-md-6">
                        <input
                                type="text"
                                class="form-control"
                                id="cc-name"
                                placeholder="Jane Doe"

                        />
                        <label for="cc-name">Name on card</label>
                        <small class="text-muted"
                        >Full name as displayed on card</small
                        >
                        <div class="invalid-feedback">Name on card is required</div>
                    </div>

                    <div class="form-floating col-md-6">
                        <input
                                type="text"
                                class="form-control"
                                id="cc-number"
                                placeholder="xxx-xxxxx-xx"

                        />
                        <label for="cc-number">Credit card number</label>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>

                    <div class="form-floating col-md-3">
                        <input
                                type="text"
                                class="form-control"
                                id="cc-expiration"
                                placeholder="12/23"

                        />
                        <label for="cc-expiration">Expiration</label>
                        <div class="invalid-feedback">Expiration date required</div>
                    </div>

                    <div class="form-floating col-md-3">
                        <input
                                type="text"
                                class="form-control"
                                id="cc-cvv"
                                placeholder="123"

                        />
                        <label for="cc-cvv">CVV</label>
                        <div class="invalid-feedback">Security code required</div>
                    </div>
                </div>

                <hr class="my-4"/>

                <form class="home-playlist-button" th:action="@{/order}"
                      th:method="post">
                    <button type="submit" name="add" class="btn btn-success float-end">Place order</button>
                </form>
            </form>
        </div>
    </div>
    </div>
</main>

<script src="js/form-validation.js"></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script>
    document
        .querySelectorAll('[data-bs-toggle="popover"]')
        .forEach(function (popover) {
            new bootstrap.Popover(popover);
        });
</script>
</body>
</html>
