<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>

<body>
<header th:replace="fragments/common::header">
</header>
<main role="main">
    <div class="container-fluid jumbotron jumbotron-other py-5">
        <div class="container">
            <h1 class="display-3 d-none d-md-block text-white">Register now.</h1>
        </div>
    </div>

    <div class="container">

        <nav class="my-3 ms-3" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
        </nav>
        <div class="p-2 text-center">
            <h1 class="display-4">Register</h1>
        </div>
        <div class="col-md-7 col-lg-8">
            <form th:action="@{/users/register}"
                  th:method="POST" th:object="${userRegisterBindingModel}" >
                <h4 class="mb-3">Your Details</h4>
                <div>
                    <div class="col-auto">
                        <label for="inputFullName" class="col-form-label ">Full Name</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{fullName}"
                               th:errorclass="'is-invalid bg-danger'"
                               required minlength="3" maxlength="20"
                               type="text"
                               id="inputFullName"
                               class="form-control"
                               aria-describedby="fullNameHelpInline">
                        <small id="fullNameHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                            Username length must be between 5 and 20 characters.
                        </small>
                    </div>
                </div>

                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">@</span>
                        <input th:field="*{username}"
                               type="text"
                               class="form-control"
                               id="username"
                               required minlength="3" maxlength="20"
                               placeholder="Username">
                        <small id="usernameError"
                               class="invalid-feedback  form-text bg-danger rounded">Username's length must be more
                            than 3 characters</small>
                    </div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input th:field="*{email}"
                           type="email"
                           class="form-control"
                           id="email"
                           placeholder="you@example.com"
                    required>
                    <small id="emailError"
                           class="invalid-feedback  form-text bg-danger rounded">Email must be valid</small>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input th:field="*{password}"
                           type="password"
                           class="form-control"
                           id="password"
                           required minlength="3" maxlength="20"
                           placeholder="Password">
                    <small id="passwordError"
                           class="invalid-feedback  form-text bg-danger rounded">Password must be valid</small>
                </div>
                <div th:object="${addressBindingModel}">
                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input th:field="*{address}"
                           type="text" class="form-control" id="address" placeholder="1234 Main St"
                           >
                    <small id="addressError"
                           class="invalid-feedback  form-text bg-danger rounded">Address must be valid</small>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col-6">
                            <label for="areaCity" class="form-label">Area City</label>
                            <select class="form-select" id="areaCity" th:field="*{areaCity}" required>
                                <option value="">Choose...</option>
                                <option value="Sofia">Sofia</option>
                                <option value="Plovdiv">Plovdiv</option>
                                <option value="Varna">Varna</option>
                                <option value="Burgas">Burgas</option>
                                <option value="Ruse">Ruse</option>
                                <option value="Pleven">Pleven</option>
                                <option value="Sliven">Sliven</option>
                            </select>
                            <small id="cityAreaError"
                                   class="invalid-feedback  form-text bg-danger rounded">City area must be
                                valid</small>
                        </div>
                        <div class="col-auto align-self-end">
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                              data-bs-trigger="hover focus"
                                              data-bs-content="If your area's city isn't listed here, we're currently not shipping to your area. Contact us via the contact form and we'll see how we can help you.">
                                            <i class="bi bi-info-circle text-primary" role="img" aria-label="Info"
                                               style="font-size: 1.5rem;"></i>
                                        </span>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <label for="town" class="form-label">Town</label>
                    <div class="input-group has-validation">
                        <input th:field="*{town}" type="text" class="form-control" id="town" placeholder="town"
                               required minlength="3" maxlength="20">
                        <small id="townError"
                               class="invalid-feedback  form-text bg-danger rounded">Postal code area must be
                            valid</small>
                    </div>
                </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script src="js/form-validation.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    document.querySelectorAll('[data-bs-toggle="popover"]')
        .forEach(function (popover) {
            new bootstrap.Popover(popover)
        })
</script>

</body>

</html>